:root {
  /*  colors */
  --color-white: #fff;

  --color-trello-blue-50: #e4f0f6;
  --color-trello-blue-100: #bcd9ea;
  --color-trello-blue-200: #8bbdd9;
  --color-trello-blue-300: #5ba4cf;
  --color-trello-blue-400: #298fca;
  --color-trello-blue-500: #0079bf;
  --color-trello-blue-600: #026aa7;
  --color-trello-blue-700: #055a8c;
  --color-trello-blue-800: #094c72;
  --color-trello-blue-900: #0c3953;

  --color-text-title: #aaa;
  --color-text-default: #fff;
  --color-nav-icon: #fff;
  --color-separator: #aaa;

  --user-sign-y-offset: 30%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol ul {
  list-style: none;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: var(--color-trello-blue-500);
}

.separator {
  width: 1px;
  height: 20px;
  background-color: var(--color-separator);
  box-sizing: border-box;
  margin: 0 15px;
}

/* 
* 1. nav 
*/
.nav {
  background-color: var(--color-trello-blue-700);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 5px;
}

/* 
* nav icon (font awesome)
*/
.nav i {
  font-size: 2rem;
  text-align: center;
  color: var(--color-nav-icon);
}

/*
* 1-1. left 3 btns
*/
.nav__left {
  display: flex;
  flex-direction: row;
}

/* 
* 1-2. main title
*/
.nav__title {
  font-family: "Pacifico", cursive;
  font-size: 2.2rem;
  color: var(--color-text-title);
}

/* 메인 타이틀 옆의 아이콘 (중앙) */
.nav__title i {
  font-size: 2.2rem;
  color: var(--color-text-title);
}

/* 
* 1-3. right 3 btns
*/
.nav__right {
  display: flex;
  flex-direction: row;
}

nav .btn {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;

  width: 50px;
  height: 50px;
  margin: 0 6px;
  border-radius: 5px;

  background-color: var(--color-trello-blue-300);
}

/* 
* user (마지막, 오른쪽) 
*/
.nav__user {
  padding: 0;
  margin: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* 
* 2. menu
*/
.menu {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  color: var(--color-text-default);
}

/* 
* 2-1. left
*/
.menu__left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu__title {
  font-size: 1.5rem;
  padding: 10px 20px;
}

.menu .fa-lock {
  margin-right: 10px;
}

.menu__user {
  position: relative;
}

/* 
* user image + ^^^
*/
.menu__user__image {
  padding: 0;
  margin: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;

  margin-right: 10px;

  display: flex;
  align-self: center;
}

.menu__user i {
  display: inline;a
  position: absolute;
  left: 50%;
  top: var(--user-sign-y-offset);

  font-size: 0.8rem;
  transform: scale(1.3, 0.8);
}

.menu__user i:nth-child(2) {
  top: calc(var(--user-sign-y-offset) + 15%);
}

.menu__user i:nth-child(3) {
  top: calc(var(--user-sign-y-offset) + 15% * 2);
}

.menu__left .menu__add-user {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 25px;
  height: 25px;

  box-sizing: border-box;
  padding: 5px 5px;

  border-radius: 50%;
  background-color: var(--color-trello-blue-200);
  z-index: -1;
}

.menu__left .menu__add-user i {
  font-size: 0.8rem;
}

/* 
* 2-3. right
*/
.menu__right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu__right a {
  margin: 0 15px;
  color: var(--color-text-default);
}

/* 3. canvas lists */
.canvas__lists {
}
